<form action="/" method="post" class="main-form">
  <h1>Cymau Secret Santa!</h1>

  {{safeNames.[0]}}

  <div>Select your name from the list below:</div>
  <br/>
  <div class="names-cloud">
    {{#each names}}
    <input id="name-{{@index}}" type="radio" value="{{@index}}" name="names">
    <label class="name" for="name-{{@index}}">{{this}}</label>
    {{/each}}
  </div>
  <button class="form-item form-submit" type="submit">Find my match</button>
</form>
